* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
button {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
#menu-screen {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#bg-video1 {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#bg-video2 {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;  
}


#main {
    width: 100vw;
    height: 100vh;
}

h1 {
    position: absolute;
    justify-content: flex-start;
    color: black;
    font-size: 4rem;
    transform: rotate(20deg);
}

.menu-button {
    background-color: transparent;
    border: none;
}

#about-me-button {
    position: absolute;
    top: 40%;
    left: 50%;
   justify-content: center;
    color: #77FEFC;
    font-size: 6rem;
    display: inline-block;
    transform: skewX(-5deg);
    transform: skew(-15deg) rotate(-5deg);
}

#resume-button {
    position: absolute;
    top: 50%;
    left: 50%;
    justify-content: center;
    color: #16CFFB;
    font-size: 6rem;
    display: inline-block;
    transform: skewX(-5deg);
    transform: skew(-15deg) rotate(-5deg);
}

#portfolio-button {
    position: absolute;
    top: 60%;
    left: 50%;
    justify-content: center;
    color: #77FEFC;
    font-size: 6rem;
    display: inline-block;
    transform: skewX(-5deg);
    transform: skew(-15deg) rotate(-5deg);
}

#contact-button {
    position: absolute;
    top: 70%;
    left: 50%;
    justify-content: center;
    color: #16CFFB;
    font-size: 6rem;
    display: inline-block;
    transform: skewX(-5deg);
    transform: skew(-15deg) rotate(-5deg);
}

#about-me-button:hover, #resume-button:hover, #portfolio-button:hover, #contact-button:hover {
    color: red;
    cursor: pointer;
}

